.container {
  width: 100%;
  height: 100vh;
  padding-left: 30px;
  box-sizing: border-box;


  .card{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
    max-width: 400px;
    height: 50%;
    max-height: 400px;

    .headerCard {
      margin-bottom: 60px;

      .fotoPerfil {
        margin-right: 100px;
        margin-bottom: 60px;
        background-size: cover;

        img {
          width: 115px;
          height: 115px;
        }
      }
      .textTitle {
        color: #677d89;
      }
      .subTitle {
        color: #677d89;
      }
    }
    .contentCard {
      .dadosUsuario {
        display: flex;
        flex-direction: column;
        gap: 10px;

        td {
          font-size: 18px;
          font-weight: 400;
          color: #677d89;
        }
      }
    }
  }
}

.btnAction {
  display: flex;
  justify-content: flex-end;

  .btnVoltar {
    width: 100%;
    max-width: 80px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 6px;
    color: #edeef4;
    cursor: pointer;
    background-color: #1f688a;
  }

  .btnVoltar:hover {
    background-color: #185875;
  }
}
